.about-container {
  overflow-x: hidden;
}

.aboutme-container {
  width: 80%;
  padding: 15rem 0;
}

.wrapper {
  z-index: 1 !important;
}

.about-paragraph {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 60%;
  line-height: 2.2rem;
  font-size: 1.4rem;
  color: #005960;
}

.me-img {
  width: 40rem;
  height: auto;
  clip-path: polygon(29% 2%, 100% 23%, 88% 96%, 20% 100%, 0% 38%);
}

.content {
  font-size: 3rem;
  color: #005960;
  text-align: start;
}
.about-head {
  background-image: url("../assets/images/anton.webp");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}


.absolute {
  position: absolute;
  left: auto;
  right: 5%;
  z-index: -1;
}

.skills > li {
  list-style-type: none;
}

.skills > li > h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.skills {
  width: 100%;
  height: 100%;
  display: flex;
  color: black;
  padding-bottom: 3rem;
}

.skills > div li {
  margin: 10px 0;
  list-style: none;
}

.skills > div:first-child {
  margin-right: 2rem;
  width: 30%;
}
.skills > div:nth-child(2) {
  width: 30%;
}

.bar {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  height: .8rem;
  border-radius: 34px;
  overflow: hidden;
}

.bar span {
  height: .8rem;
  float: left;
  background-color: #005960;
}

.html {
  width: 100%;
}

.css {
  width: 100%;
}

.javascript {
  width: 90%;
}

.react {
  width: 95%;
}

.typescript {
  width: 90%;
}
.next {
  width: 90%;
}
.node {
  width: 70%;
}
.php {
  width: 70%;
}
.jquery {
  width: 80%;
}
.wordpress {
  width: 70%;
}