/* HEADER */

.header {
  width: 100%;
  position: fixed;
  height: 7rem;
  z-index: 800;
}

.headline {
  font-size: 2rem;
  font-weight: 600;
}

.nav-container {
  width: 90%;
}

.burger-div {
  padding: 0.2rem;
  background-color: white;
  border-radius: 2rem;
}

.h1-link {
  text-decoration: none;
  color: black;
}

/* MENU */

.link-container {
  width: 68%;
  z-index: 1000;
  height: 100%;
}

ul {
  list-style: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #005960;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  z-index: 200;
}

.links {
  text-decoration: none;
  color: #01c6c6;
  font-size: 3rem;
}

#menu > .link-container > a:hover {
  color: black;
}

.links > div > span {
  color: #0a6668;
}

.nav-social {
  width: 100%;
}

.social-links {
  text-decoration: none;
  color: #00474c;
  font-size: 2rem;
  margin: -4rem 4rem 4rem 4rem;
}

#menu {
  display: none;
}

@media (max-width: 1000px) {
    .links {
        font-size: 2.3rem;
    }
    
    .social-links {
        font-size: 1.5rem;
    }

    ul {
        align-items: center;
    }

}
