.head-container {
    overflow-x: hidden;
}

.myVideo {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -200
}

.social-div {
    padding: 1rem 0 0 0;
    margin-left: 4%;
    z-index: 50;
    position: absolute;
    top: 0;
}

.social-div > a > img {
    padding: 1rem;
    width: 4rem;
}

.social-div > .alink {
    cursor: pointer;
}


