ul {
    list-style: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #005960;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.links {
    text-decoration: none;
    color: #01C6C6;
    font-size: 3rem;
    margin: 2rem 0 2rem 0;
}

#menu > .link-container > a:hover {
    color: black;
}

.links > span {
    color: #0A6668;
}
