@media (max-width: 48em) {

    /* HEADER, NAV */

    .link-container {
        margin-top: 2rem;
    }
    .links {
        font-size: 2rem;
        flex-direction: column;
        text-align: center;
        margin: 1rem 0 1rem 0;
    }

    .nav-social {
        margin-bottom: 1rem;
    }

    .nav-social > a {
        font-size: 1rem;
    }

    /* MAIN PAGE */

    .myVideo {
        display: none;
    }

    .mobile-bg {
        background-image: url('../images/wallpaper-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #mobile-social-main {
        padding-left: .2rem;
        margin-left: 0%;
     
    }



    /* ABOUT ME */

    #mobile-about-p {
        width: 100%;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .head-container > .wrapper > .container {
        width: 100%;
        /* margin-top: 20; */
        min-height: 100%;
        
    }

    .contact-div {
        margin-top: 7rem;
    }

    .container > .aboutme-container {
        margin-top: 20rem;
    }

    .skills > li > .bar  {
        width: 15rem;
    }

    #absolute {
        top: -5rem;
        opacity: .6
    }

    #mobile-scroll {
        display: unset;
        position: absolute;
        top: 100px;
        left: 35%;
        margin-bottom: 1rem;
    }

    #img-me {
        top: 5rem;
    }


    /* CONTACT */

    .social-contact-div {
        width: 90%;   
    }

    #mobile-p {
        line-height: 2.5rem;
        font-size: 1.2rem;
        width: 90%;

    }

    #mobile-social {
        width: 90%;
    }

    #mobile-a {
        font-size: 1rem;
        padding-right: 2rem;

    }

 
    
    .third-a {
        padding-right: 0rem;
    }
    .first-a {
        padding-left: 0rem;
    }
    .middle-a {
        padding-right: 0rem;
    }
}