@media (max-width: 48em) {
  /* HEADER, NAV */

  .link-container {
    margin-top: 2rem;
    align-items: center;
  }
  .links {
    font-size: 2rem;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }

  .nav-social > a {
    font-size: 1rem;
  }

  .social-links {
    margin: -2rem 1.5rem 2rem 1.5rem;
    font-size: 1.5rem;
  }

  /* MAIN PAGE */

  .myVideo {
    display: none;
  }

  .mobile-bg {
    background-image: url("../images/wallpaper-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }

  #mobile-social-main {
    padding-left: 0.2rem;
    margin-left: 0%;
  }

  #mobile-social-main > a > img {
    width: 3.5rem;
  }

  /* ABOUT ME */

  #mobile-about-p {
    width: 100%;
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .head-container > .wrapper > .container {
    width: 100%;
    min-height: 100%;
  }

  .contact-div {
    margin-top: 7rem;
  }

  .container > .aboutme-container {
    margin-top: 25rem;
  }

  .skills{
    flex-direction: column;
  }

  .skills > div:first-child {
    margin-right: 0rem !important;
    width: 100% !important;
    
  }
  .skills > div:nth-child(2) {
    width: 100% !important;

  }

  .skills > li > .bar {
    width: 15rem;
  }
  li .bar {
    height: .8rem;
  }
  li .bar span {
    height: .8rem;
  }

  .about-head {
    background-size: contain;
  }

  .html {
    width: 100% !important;
  }
  
  .css {
    width: 100% !important;
  }
  
  .javascript {
    width: 90% !important;
  }
  
  .react {
    width: 95% !important;
  }
  
  .typescript {
    width: 80% !important;
  }
  .next {
    width: 70% !important;
  }
  .node {
    width: 70% !important;
  }
  .php {
    width: 70% !important;
  }
  .jquery {
    width: 80% !important;
  }
  .wordpress {
    width: 70% !important;
  }

  /* PROJECTS */

  #absolute {
    top: -5rem;
    opacity: 0.6;
  }

  #mobile-scroll {
    display: unset;
    position: absolute;
    top: 100px;
    left: 35%;
    margin-bottom: 1rem;
  }

  #img-me {
    top: 5rem;
  }

  #project-img {
    height: 100%;
  }
  .project-container-one > h2 {
    font-size: 1.2rem;
  }
  .project-container-one > h5 {
    font-size: .7rem;
  }

  .wrapper > .project-div {
    width: 100%;
  }



  /* CONTACT */

  .social-contact-div {
    width: 90%;
  }

  #mobile-p {
    line-height: 2.5rem;
    font-size: 1.2rem;
    width: 90%;
  }

  #mobile-social {
    width: 90%;
  }

  #mobile-a {
    font-size: 1rem;
    padding-right: 2rem;
  }

  .third-a {
    padding-right: 0rem;
  }
  .first-a {
    padding-left: 0rem;
  }
  .middle-a {
    padding-right: 0rem;
  }
}
