

.project-container {
    color: #005960;
    height: 100%;
    padding: 1rem;
    border: 1px solid white;
    cursor: pointer;

}
.project-container > #project-link{
    color: #005960;
    cursor: pointer;
    height: 80%;
    padding: 1rem;
    z-index: 9999;
    top: 0;

}

.project-container > a#project-link:hover {
    position: relative; 
    top: -10px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}


#project-img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    }

.project-div {
    margin-top: 5rem;
    width: 80%;
    z-index: 99999;
}

.tablet-scroll {
    display: none;
}