.project-container-one {
  color: #005960;
  width: 40rem;
  height: 30rem;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  border: 3px solid #005960;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  flex-shrink: 0;
  scroll-snap-align: start;
  transition: all 0.3s ease-in-out;
}
.project-container-one:hover .contain {
  display:block ;
  transition: all 0.3s ease-in-out;

  
}

.scroll-container {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.contain {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.5s;
  color: white;

}

.contain-mobile {
  display: none;
}


#project-img {
  object-fit: cover;
  object-position: center;
  height: 80%;
}

.project-div {
  margin-top: 5rem;
  width: 80%;
  height: 90%;
  z-index: 99999;
  transition: all 0.3s ease-in-out;

}

.tablet-scroll {
  display: none;
}

.project-container-one > h2 {
    text-align: center;
}

h5 {
  width: 70%;
  text-align: center;
}

h2 {
  font-weight: 400;
  text-align: center;
}

h5 {
  font-weight: 300;
}

.tablet-margin {
  display:none;
}

@media (max-width: 768px) {
  .project-container-one {
    width: 20rem;
    margin-right: 1rem;
  }

  .contain-mobile {
    display: flex;
    padding-top: 2rem;
    color: black;
  }

  #project-img {
    height: 40% !important;
  }

  .contain {
    display: none !important;
  }


}