@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');
.flex {
    display: flex;
}

.centerH {
    justify-content: center;
}

.centerY {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

.flex-end {
    justify-content: flex-end;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.column {
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.content {
    font-family: 'Dawning of a New Day', cursive;
}



/* PAGE TRANSITION */

.transition-container {
    position: absolute;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #005960;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
}

