@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");
.flex {
  display: flex;
}

.centerH {
  justify-content: center;
}

.centerY {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}
.flex-start {
  justify-content: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.column {
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.full-height {
  min-height: 100%;
}

.content {
  font-family: "Dawning of a New Day", cursive;
}

.py-10 {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

/* PAGE TRANSITION */

.transition-container {
  position: absolute;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #005960;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100000;
}
