@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html, body {
    @apply m-0 h-full w-full overflow-x-hidden overflow-y-auto bg-transparent;
    -webkit-overflow-scrolling: touch;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h3 {
    @apply text-xl font-normal;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }

  #root {
    @apply w-full h-full;
  }
}

@layer components {
  .transition-container {
    @apply absolute top-0 bottom-0 w-full;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #005960;
    z-index: 100000;
  }
}

